html, body {
    background color: white;
    height:100%;
    margin: 0;
}

/* nav styling */
nav ul{
    font-family: 'Open Sans', sans-serif;
    padding: 6em 8em 3em 8em;
    list-style: none;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

nav ul li {
    display: inline;
    margin-right: 1.25em;
}


/* body element styling */
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family: 'PT Serif', sans-serif;
}

h2 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* footer styling */

footer {
    font-size: .8em;
    width: 100%;
}
footer ul {
    font-family: 'Open Sans', sans-serif;
    padding: 3em 0;
    list-style: none;
    text-align: center;
}

footer ul li {
    display: inline;
    margin-right: 2.5em;
}

.container {
  min-height: 100%;
  padding: 0 15em;
  /* equal to footer height */
  margin-bottom: -6em; 
}
.container:after {
  content: "";
  display: block;
}
.site-footer, .container:after {
  height: 6em; 
}
.site-footer {
  background: black;
}
