body {
    background color: white;
    height:100%;
}

/* nav styling */
nav ul{
    font-family: 'PT Sans', sans-serif;
    padding: 10px;
    list-style: none;
    font-weight: bold;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}


/* body element styling */
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'PT Sans', sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family: 'PT Sans', sans-serif;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* footer styling */

footer {
    font-size: .8em;
    width: 100%;
}
footer ul {
    font-family: 'PT Sans', sans-serif;
    padding: 0px;
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

.container {
  min-height: 100%;
  padding: 100px;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.container:after {
  content: "";
  display: block;
}
.site-footer, .container:after {
  height: 60px; 
}
.site-footer {
  background: black;
}
